<nav class="navbar navbar-expand navbar-dark customNav">
  <a href="#" class="navbar-brand" style="font-size: x-large;">safeTrade</a>


  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link" routerLink="login">Connexion</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">Déconnexion</a>
    </li>
  </ul>
</nav>
